.introduction-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #1f4161;
    color: snow;
    font-size: 1.5em;
    font-weight: lighter;
}

.txt1 {
    margin-top: 2em;
    width: 40%;
    padding-left: 2em;

}

.txt2 {
    margin-top: 5em;
    width: 40%;
    padding-right: 2em;
    padding-bottom: 2em;
}